body{
    font-family: Montserrat,sans-serif;
    color: #b60000;
    margin: 0 10em;
}

.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    box-shadow: 2px 3px 10px grey;
    height: auto;
}

.nav-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5%;
    padding-bottom: 2px;
    border-bottom: 3px solid #b60000;
    margin-bottom: 9px;
    box-sizing: border-box;
    text-align: right;
}

.nav-logo img {
    width: 170px;
    padding: 1em 2em;
}

.nav-content .navbar-2 li {
    padding: 0 1em;
    font-size: 35px;
}
.nav-content .navbar-1 li {
    font-size: 20px;
    padding: 1em 2em
}

li{
    list-style: none;
    display: inline-block;
}

.hero-img img {
    display: block;
    position: relative;
    width: 100%;
    flex-grow: 5;
    border-top: 7px solid #b60000;
    border-bottom: 12px solid #b60000;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1em;
}

main img{
    width: 32%;
    height: auto;
    margin: .5%;  
}

footer {
    text-align: center;
}

a img {
    width: 2.5%;
    border: 5px solid #b60000;
    border-radius: 50%;
    padding: 1em;
    margin: .5em;
}

li img{
    width: 18px
}
